<script>
	import Register from "./register.svelte";
	import Login from "./login.svelte";
	import ForgotPassword from "./forgotPassword.svelte";
	import NewPassword from "./newPassword.svelte";
	import Hurray from "./hurray.svelte";
	let viewMode = "login";
	
</script>

{#if viewMode == "login"}
<Login bind:viewMode/>
{/if}

{#if viewMode == "register"}
<Register bind:viewMode/>
{/if}

{#if viewMode == "forgotPassword"}
<ForgotPassword bind:viewMode/>
{/if}

{#if viewMode == "newPassword"}
<NewPassword bind:viewMode/>
{/if}

{#if viewMode == "hurray"}
<Hurray bind:viewMode/>
{/if}