<script>

	import WhichUser from "./whichUser.svelte";
	import SecretQuestion from "./secretQuestion.svelte";
	import NewPassword from "./newPassword.svelte";
	export let viewMode;
	let secretQuestion = {};
	let user = {};
	let passwordView = "whichUser";

	$: if(passwordView=="login"){viewMode="login"}
	
</script>

{#if passwordView == "whichUser"}
<WhichUser bind:passwordView bind:user bind:secretQuestion/>
{/if}

{#if passwordView == "secretQuestion"}
<SecretQuestion bind:passwordView bind:secretQuestion bind:user/>
{/if}

{#if passwordView == "newPassword"}
<NewPassword bind:passwordView bind:viewMode bind:user/>
{/if}