<script>

	export let viewMode;

	function logout() {
		sessionStorage.removeItem("name")
		viewMode = "login"
		console.log(sessionStorage.getItem("name"))
	}
	
</script>

<p>Hurray, you have logged in!</p>
<button on:click={logout}>logout</button>