<script>

	import { Users } from './stores.js';
	export let viewMode;
	let errorMessage = "";
	let name;
	let password;
	
	function checkUser() {
		//console.log({Users, name, password})
		if($Users.filter(user => user.name == name && user.password == password).length==1) {
			viewMode = "hurray"
			sessionStorage.setItem("name", name)
			console.log(sessionStorage.getItem("name"))
		}
		else {
			errorMessage = "invalid credentials"
		}
	}
	
</script>

<form on:submit|preventDefault={checkUser}>
	<input bind:value={name} placeholder="name" required><br />
	<input bind:value={password} placeholder= "password" type="password" required><br />
	<button>login</button>
</form>{errorMessage}
<br />
<button on:click={() => viewMode="register"}>register</button>
<button on:click={() => viewMode="forgotPassword"}>forgot password?</button>