<script>

	import { Users } from './stores.js';
	export let passwordView;
	export let user;
	let newPassword = "Voice";
	let checkPassword = "Voice";
	let errorMessage = "";

	function checkInput() {
		if(newPassword == checkPassword) {
			return true;
		}
	}

	function setPassword() {
		if(checkInput) {
			user.password = newPassword
			
			$Users = $Users.map(item => {
				if (item.name == user.name) {
					return user
				} else {
					return item
				}
			})

			passwordView = "login"
		}
		else {
			errorMessage = "Wachtwoorden komen niet overeen"
			return errorMessage;
		}
	}

</script>

<form on:submit|preventDefault={setPassword}>
	<p>Type new password</p>
	<input bind:value={newPassword} type='password' required> {#if checkInput()} {errorMessage}{/if}
	<p>Repeat new password</p>
	<input bind:value={checkPassword} type='password' required> {#if checkInput()} {errorMessage}{/if}
	<button>Submit</button>
</form>