<script>

	import { Users } from './stores.js';
	let name = "Nick";
	let password = "aaaank";
	let checkPassword = "aaaank";
	let secretQuestion = "kat?";
	let secretAnswer = "furby";
	let errorMessage = "";
	export let viewMode;
	$: User = {name, password, secretQuestion, secretAnswer};
	
	function checkInput() {
		if(password == checkPassword) {
			return true;
		}
	}
	
	function createUser() {
		if (checkInput()) {
			$Users = [...$Users, User]
			viewMode = "login"
			console.log($Users)
		}
		else {
			errorMessage = "Wachtwoorden komen niet overeen"
			return errorMessage;
		}
	}
		
</script>

<style>
</style>

<form on:submit|preventDefault={createUser}>
	<h3>Name</h3>
	<input bind:value={name} required>
	<h3>password</h3>
	<input bind:value={password} type='password' required> {#if checkInput()} {errorMessage}{/if}
	<h3>repeat password</h3>
	<input bind:value={checkPassword} type='password' required> {#if checkInput()} {errorMessage}{/if}
	<h3>secret question</h3>
	<input bind:value={secretQuestion} required>
	<h3>secret answer</h3>
	<input bind:value={secretAnswer} required>
	<br />
	<br />
	<button>submit</button>
</form>
