<script>

    export let secretQuestion;
    export let user;
    export let passwordView;
    let secretAnswer = "furby";
    let message = "";

    function checkAnswer() {
        const answer = user.secretAnswer

        if(answer == secretAnswer) {
            passwordView = "newPassword"
        }
        else {
            message = "Sorry, wrong answer. Try again!"
        }
    }

</script>

<p>{secretQuestion}</p>
<input bind:value={secretAnswer}>
<button on:click={checkAnswer}>Submit</button>
<p>{message}</p>