<script>

	import { Users } from './stores.js';
	export let secretQuestion;
	export let user;
	export let passwordView = "whichUser";
    let name = "Nick";
	let message = "What is your acoount name?";

function checkUser() {
		const matchedUsers = $Users.filter(user => user.name == name)

		if(matchedUsers.length === 1) {
			user = matchedUsers[0]
			secretQuestion = user.secretQuestion
			name = ""
			passwordView = "secretQuestion"
		}
		else {
			message = "Unfortunately this account name does not exist, please try again"
			name = ""
		}

	}

</script>


<p>{message}</p>
<input bind:value={name}>
<button on:click={checkUser}>submit</button>